
table {
   border-collapse: collapse;
   width: 100%;
   max-width: 400px;
   margin: 0 auto;
}
th, td {
   padding: 10px;
   text-align: center;
}
th {
   background-color: rgb(49, 31, 31);
   color: white;
}
td {
   background-color: #f2f2f2;
}
